<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/index.js}"></script>
    <style type="text/css">
        .navbar {
            border-radius: 30px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:8888">wjup_home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8888">首页</a></li>
                <li><a href="/blog/getMoreImg">图片</a></li>
                <li><a href="/blog/getMoreText">文章</a></li>
                <li><a href="/about">关于</a></li>
                <li>
                    <a href="javascript:void(0);" onclick="notice()" data-toggle="modal"
                       data-target=".bs-example-modal-sm">公告</a>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        <div id="title"></div>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <div id="notice"></div>
                                    <p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="#">盗号</a></li>
                        <li><a href="#">H接单</a></li>
                        <li><a href="#">远程监控</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">最新业务</li>
                        <li><a href="#">挖矿</a></li>
                        <li><a href="#">开私服</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">最新业务</li>
                        <li><a href="#">声明</a></li>
                    </ul>
                </li>
            </ul>
            <ul th:if="${session.session_user!=null}" class="nav navbar-nav navbar-right">
                <li><a href="/admin/mySelf">后台管理</a></li>
                <li><a href="/user/outUser">退出登录</a></li>
            </ul>
            <ul th:if="${session.session_user==null}" class="nav navbar-nav navbar-right">
                <li><a href="/user/toIndex">管理员登录</a></li>
            </ul>

        </div>
    </div>
</nav>


<!-- Static navbar -->
<!--<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8888">wjup_home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li>
                    <a onclick="notice()" data-toggle="modal" data-target=".bs-example-modal-sm">公告</a>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        <div id="title"></div>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <div id="notice"></div>
                                    <p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                    &lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/mySelf">个人中心</a></li>
                <li><a href="/user/outUser">退出登录</a></li>
            </ul>
        </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
    </div>
</nav>-->
<!--

</body>
</html>-->
