<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BlogMapper">

    <select id="getBlogList" resultType="Blog">
        select * from blog_text WHERE state = 1 GROUP by id DESC
    </select>

    <select id="getBlogListAll" resultType="Blog">
        select * from blog_text GROUP by id DESC
    </select>

    <select id="getNotice" resultType="Notice">
        SELECT * FROM blog_notice WHERE isOverdue = 1
    </select>

    <select id="details" resultType="Blog">
        SELECT * FROM blog_text WHERE title = #{title}
    </select>

    <insert id="addText" parameterType="Blog">
        INSERT INTO blog_text (title,url,text,creatTime,work,state) VALUES (#{title},#{url},#{text},#{creatTime},#{work},#{state})
    </insert>

    <delete id="cleanText" parameterType="Integer">
        DELETE FROM blog_text WHERE id = #{id}
    </delete>

    <update id="delText" parameterType="Integer">
        UPDATE blog_text  SET state = 2 WHERE id = #{id}
    </update>

</mapper>
