.carousel .item {
    height: 380px;
    background-color: #000000;
}
.carousel img {
    width: 100%;
    min-height: 100%;
}

/*轮播图下间距*/
.cen{
    padding-bottom: 20px;
}
/*my图片*/
.img-circle {
    border-radius: 37%;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

a:hover {
    color:#4cae4c;
    text-decoration:none;
}
