<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>

<div class="container">
    <blockquote>
        <p>Welcome to wjup_home , Have a nice day ！</p>
        <footer><a href="https://github.com/wjup"> https://github.com/wjup</a></footer>
    </blockquote>

    <form class="form-signin" action="/user/loginUser" method="post">
        <h2 class="form-signin-heading">Please sign in</h2><br>
        <label for="userName" class="sr-only">Email address</label>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="Email address" required autofocus>
        <label for="passWord" class="sr-only">Password</label>
        <input type="password" id="passWord" name="passWord" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="bt" type="submit">Sign in</button>
        <!--<a class="btn btn-lg btn-primary btn-block"  href="javascript:void(0)" onclick="re()">Register</a>-->
    </form>

</div>

</body>

</html>